.works {
  margin-left: 3em;
  display: flex;
  height: 32em;
}

.expect {
  margin-top: 9em;
  display: flex;
  height: 12em;
  flex-direction: column;
}

/*What I hope*/
.expect > :nth-child(1) {
  color: var(--black);
  font-size: 2.5em;
  font-weight: bold;
}

/* for my future*/
.expect > :nth-child(2) {
  color: var(--purple);
  font-size: 2.5em;
  font-weight: bold;
  margin-top: -0.1em;
}

.expectDescription {
  width: 50em;
  color: gray;
  margin-top: 1em;
  line-height: 1.8em;
}

.w-right {
  position: relative;
}

/* Main white circle */
.w-mainCircle {
  margin-top: 7em;
  width: 18em;
  height: 18em;
  position: relative;
  border-radius: 100%;
  box-shadow: var(--boxShadow);
  background: white;
}

.w-mainCircle > * {
  position: absolute;
}

/*Java */
.w-mainCircle > :nth-child(1) {
  left: -3em;
  top: 6em;
}

/*Android*/
.w-mainCircle > :nth-child(2) {
  left: 6em;
  top: -3em;
}

/*Robot*/
.w-mainCircle > :nth-child(3) {
  left: 6em;
  top: 6em;
}

/*AI*/
.w-mainCircle > :nth-child(4) {
  left: 15em;
  top: 6em;
}

/*Cybersecurity */
.w-mainCircle > :nth-child(5) {
  left: 6em;
  top: 15em;
}

.w-mainCircle > :nth-child(5) img {
  margin-right: 0.4em;
  margin-top: 0.2em;
}

/* All little circles*/
.w-secCircle {
  width: 6em;
  height: 6em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 0.2em solid #ebebeb;
  box-shadow: var(--boxShadow);
  background: white;
}

.w-secCircle > img {
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13em;
  width: 13em;
  border-radius: 100%;
  z-index: -1;
}

.blueCircle {
  background: #1949b8;
  left: 10em;
  top: 0em;
}

.yellowCircle {
  background: #f5c32c;
  left: 10em;
  top: 8em;
}

@media screen and (max-width: 480px) {
  .works {
    height: 55em;
    padding: 0;
    gap: 5em;
  }

  .expectDescription {
    margin-left: -3em;
    text-align: justify;
    -webkit-columns: 250px 3;
    -moz-columns: 250px 3;
    columns: 250px 3;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }

  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
  }

  .w-mainCircle {
    position: static;
  }

  .w-backCircle {
    left: 8em !important;
  }
}
