/* Wrapper */
.n-wrapper {
  height: 10%;
  width: 100%;
  margin-top: -2%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
}

/* Left side */
.n-left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 10%;
}

/* My name on the left side */
.n-name {
  font-size: 1em;
  font-weight: bold;
  margin-left: 45%;
}

/* List on the right side */
.n-right {
  flex: 10;
}

/* Unordered list*/
.n-right > ul {
  list-style: none;
  display: flex;
  gap: 2em;
  margin-left: 54%;
  cursor: pointer;
}

/* Unordered list hover*/
.n-right a:hover {
  font-weight: bold;
  color: var(--purple);
}

/* Unordered list items*/
.n-right li {
  font-size: 1em;
}

@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
}
