.footer {
  margin-top: -12em;
  margin-bottom: -1.5em;
  display: flex;
  align-items: center;
  position: relative;
}

.f-content {
  margin-top: 10em;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4em;
  color: white;
}

.f-icons {
  display: flex;
  gap: 2em;
}

@media screen and (max-width: 480px) {
  .f-content {
    transform: scale(0.5);
  }
}
