.toggle {
  display: flex;
  justify-content: space-between;
  border: 0.1em solid var(--purple);
  border-radius: 1em;
  position: relative;
  padding: 0.1em;
  cursor: pointer;
}

.toggle > * {
  width: 1em;
  height: 1em;
  color: var(--purple);
}

.t-button {
  border-radius: 100%;
  background: var(--purple);
  position: absolute;
}
