.floatingdiv {
  display: flex;
  background: white;
  box-shadow: var(--boxShadow);
  border-radius: 1em;
  height: 4.5em;
  width: 12em;
}

.floatingdiv > img {
  transform: scale(0.5);
}

.floatingdiv > span {
  font-weight: bold;
  font-family: Montserrat;
  font-size: 0.8em;
  color: black;
  margin-top: 1.5em;
}
