@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #72ff56 21.43%,
    #4fee36 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 1px 50px rgba(86, 255, 86, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #4fee36 100%,
    #72ff56 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #4fee36 100%,
    #72ff56 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-black font-extrabold;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#56ff56] font-bold font-primary hover:from-[#ffffff] hover:to-[#b1b1b1];
  }
  .section {
    @apply py-24 lg:py-24 lg:h-screen flex items-center;
  }
  .text-shadow-lg {
    text-shadow: 0 0px 15px rgba(106, 255, 0, 0.822);
  }
  .title-style {
    color: #72ff56;
    font-weight: bolder;
    line-height: -3em;
  }
  .active-link {
    border-radius: 50%;
    background: linear-gradient(
      92.23deg,
      #406aff 21.43%,
      #3bace2 50.63%,
      #4fee36 100%,
      #72ff56 117.04%
    );
    color: black;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
